.copy-right {
  padding: 2rem 9.5rem;
  background-color: #353535;

  p {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }
}

@media (max-width: "640px") {
  .copy-right {
    padding: 2rem;
    text-align: center;
  }
}
