.footer {
  padding: 5rem 9.5rem 2rem 9.5rem;

  .bgcrypto {
    width: 131px;
    height: 27px;
  }

  .list-header {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }

  ul {
    margin-left: 16px;
    list-style-type: disc;

    li {
      font-weight: 500;
      font-size: 13px;
      line-height: 24px;
    }
  }

  .social-buttons-container {
    margin-top: 3rem;
    margin-bottom: 1rem;

    button {
      padding: 8px;
      border-radius: 10px;
      border: 1px solid rgba($color: #fff, $alpha: 0.56);
    }
  }
}

@media (max-width: "640px") {
  .footer {
    padding: 2rem;
    align-items: center;
    justify-content: center;

    .footer-row {
      align-items: center;
      justify-content: center;
      gap: 2rem;

      img {
        display: block !important;
      }

      .footer-lists {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2rem;

        ul {
          margin-left: 0;
          list-style-type: none;
        }
      }
    }

    img {
      display: block !important;
    }

    .social-buttons-container {
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  }
}
