.gradient {
  font-weight: 600;
  font-size: 38px;
  line-height: 53px;
  background-image: -webkit-linear-gradient(330deg, #0348fd, #24e2f5, #24e2f5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
