.header {
  gap: 16px;
  padding: 5rem 0 0 9.5rem;

  h1 {
    font-weight: 600;
    font-size: 38px;
    line-height: 53px;
  }

  .button-bg-blue {
    width: 200px;
    height: 60px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    background: #0348fd;
    border-radius: 15px;
    margin-top: 12px;
  }

  .discover {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
  }

  .hero-back {
    position: absolute;
    width: 55%;
    // height: 531px;
    right: 0;
    top: 159px;
  }

  .hero-coin {
    width: 25%;
    // height: 410;
    position: absolute;
    top: 150px;
    right: 12%;
  }

  .light {
    position: absolute;
    width: 16%;
    // height: 217px;
    left: -5%;
    top: 60%;
  }

  .hero-press-btn {
    position: absolute;
    width: 7%;
    // height: 77px;
    left: 20%;
    top: 105%;
  }

  .small-screen-img {
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
  }
}

@media (max-width: "640px") {
  .header {
    padding: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
