html {
  width: 100vw !important;
}

body {
  width: 100vw !important;
  color: #fff;
  background-color: #0d0d0e;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;

  .small-screen-img {
    display: none;
  }
}

@import "static.scss";
@import "navbar.scss";
@import "global.scss";
@import "header.scss";
@import "middle-images.scss";
@import "capture-future.scss";
@import "meta-airdrop.scss";
@import "features.scss";
@import "move-forward.scss";
@import "opportunity.scss";
@import "get-to-know.scss";
@import "footer.scss";
@import "copy-right.scss";

@media (max-width: "640px") {
  img {
    display: none;
  }

  .small-screen-img {
    display: block !important;
  }
}
