.middle-images {
    img {
        position: absolute;
    }

    .middle-1 {
        width: 27%;
        // height: 314px;
        top: 108%;
        right: 0;
    }

    .middle-2 {
        width: 17%;
        // height: 312px;
        top: 122%;
        left: 38%;
    }

    .middle-4 {
        width: 10%;
        // height: 312px;
        top: 125%;
        left: 31%;
    }

    .middle-5 {
        width: 17%;
        // height: 312px;
        top: 156%;
        left: 60%;
    }
    
    .middle-6 {
        width: 10%;
        // height: 201px;
        top: 160%;
        left: 53%;
        z-index: 50;
    }

    .middle-7 {
        width: 5%;
        // height: 71px;
        top: 183%;
        left: 43%;
    }

    .middle-3 {
        width: 30%;
        // height: 610px;
        top: 125%;
        left: 0;
    }
}