.middle-images {
    img {
        position: absolute;
    }

    .middle-1 {
        width: 432px;
        height: 314px;
        top: 687px;
        right: 0;
    }

    .middle-2 {
        width: 660px;
        height: 614px;
        top: 800px;
        right: 20%;
    }

    .middle-3 {
        // width: 738px;
        // height: 610px;
        top: 800px;
        left: 0;
    }
}