.middle-images {
    img {
        position: absolute;
    }

    .middle-1 {
        width: 432px;
        height: 314px;
        top: 687px;
        right: 0;
    }

    .middle-2 {
        width: 273px;
        height: 312px;
        top: 800px;
        left: 563px;
    }

    .middle-4 {
        width: 179px;
        height: 312px;
        top: 807px;
        left: 448px;
    }

    .middle-5 {
        width: 310x;
        height: 312px;
        top: 1014px;
        left: 916px;
    }
    
    .middle-6 {
        // width: 165px;
        // height: 201px;
        top: 1030px;
        left: 798px;
        z-index: 50;
    }

    .middle-7 {
        width: 78px;
        height: 71px;
        top: 1175px;
        left: 639px;
    }

    .middle-3 {
        // width: 738px;
        // height: 610px;
        top: 800px;
        left: 0;
    }
}