.move-forward {
  position: relative;
  padding: 5rem 9.5rem 0 9.5rem;
  text-align: center;
  gap: 10px;

  h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    font-family: "Inter", sans-serif;
  }
}