.opportunity {
  padding: 5rem 9.5rem 0 9.5rem;
  text-align: center;

  h2 {
    font-weight: 600;
    font-size: 38px;
    line-height: 53px;
  }

  .hit-saturation {
    width: 110%;
    height: 1009px;
    position: absolute;
    top: 5120px;
    left: -2%;
  }

  .google-play {
    width: 38%;
    // height: 426px;
    position: absolute;
    top: 5002px;
    left: 5%;
  }

  .mobile-right {
    width: 25%;
    // height: 333px;
    position: absolute;
    top: 5097px;
    right: 0;
  }

  .mobile {
    width: 45%;
    // height: 404px;
    position: absolute;
    top: 5259px;
    left: 30%;
  }

  .mobile-left {
    width: 30%;
    // height: 492px;
    position: absolute;
    top: 5587px;
    left: 0;
  }

  .app-store {
    width: 38%;
    // height: 450px;
    position: absolute;
    top: 5428px;
    right: 12%;
  }

  .apps-div {
    position: relative;
    margin-top: 80%;
    z-index: 50;

    h3 {
      font-weight: 600;
      font-size: 28px;
      line-height: 38px;
      margin-top: 1rem;
    }

    .app-buttons {
      button {
        width: 263px;
        height: 44px;
        border-radius: 15px;
        background-color: #353535;
        padding: 8px 16px;

        p {
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
}

@media (max-width: "640px") {
  .opportunity {
    padding: 2rem;

    .apps-div {
      position: relative;
      margin-top: 50px;
    }
  }
}

// @media (min-width: "1440px") {
//   .opportunity {
//     .hit-saturation {
//       // height: max-content;
//       top: 5420px;
//     }

//     .google-play {
//       top: 5302px;
//     }

//     .mobile-right {
//       top: 5420px;
//     }

//     .mobile {
//       top: 6059px;
//     }

//     .mobile-left {
//       top: 6587px;
//     }

//     .app-store {
//       top: 6328px;
//     }
//   }
// }
